
    <h1>
        <%=    @article.title %>
    </h1>
    
    <hr/>
    <b>
        
        
                <%= @article.text %>

        
    </b>
        <%= link_to 'Back', articles_path %>
    

